@model AkademisyenProfil.Models.Gorevler
@{
    ViewData["Title"] = "gorevekle";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>İDARİ GÖREV EKLE</strong>
            </div>
            <div class="card-body card-block">
                <form asp-controller="Admin" asp-action="gorevekle" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <label><strong>YENİ GÖREV</strong></label>
                    <input type="text" class="form-control" name="gorevad" />
                    <br />
                    <label><strong>AKADEMİSYEN</strong></label>
                    @Html.DropDownListFor(m => m.Akademisyenler.akano, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Görev Ekle
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

