@using AkademisyenProfil.Models
@model List<Sertifikalar>
@{
    ViewData["Title"] = "sertifikalar";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35"> <strong>SERTİFİKALAR</strong></h3>
    </div>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
                <tr>
                    <th><strong>SERTİFİKA NO</strong></th>
                    <th><strong>SERTİFİKA ADI</strong></th>
                    <th><strong>AKADEMİSYEN ADI</strong></th>
                    <th><strong>İŞLEM </strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                <tr class="tr-shadow">
                    <td>@x.sertifakano</td>
                    <td>@x.sertifikaad</td>
                    <td>@x.Akademisyenler.akaad</td>
                    <td>
                        <div class="table-data-feature">
                            <a href="/Admin/SertifikaSil/@x.sertifakano">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>
</div>

