@using AkademisyenProfil.Models
@model List<Bolumler>
@{
    ViewData["Title"] = "Bolumler";
    Layout = "~/Views/Shared/tapbarlayout.cshtml";
}

 <!-- Burada seçilen fakültenin id'sine ait olan bölümler listelemiyor -->
<style>
    * {
        box-sizing: border-box;
    }

    #zoom {
        padding: 20px;
        transition: transform .2s;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

        #zoom:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5);
        }
</style>
<br /><br /><br /><br /><br /><br />
<div class="container">
    <h2>@ViewBag.fkl</h2><hr />
    <h1>BÖLÜMLER</h1><hr />
    <div class="row justify-content-center">
        @foreach (var x in Model)
        {
            <div class="col-xs-6 col-md-4">
                <div class="card">
                    <a href="/AnaSayfa/Akademisyenler/@x.bolumno"><img class="card-img-top" id="zoom" src="@x.bollogo" alt="Card image cap" width="100px" height="90px"></a>
                    <div class="card-body">
                        <h4 class="card-title"> <strong>@x.bolumad</strong>  </h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

 