
@{
    ViewData["Title"] = "adminlayout";
}
<!-- Burası Bizim admin panelinin layoutu buradan bu sayfayı bağlayıp o şekilde yeni sayfalar oluşturduk.-->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>ADMİN PANELİ</title>

    <!-- Fontfaces CSS-->
    <link href="~/CoolAdmin-master/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/CoolAdmin-master/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/CoolAdmin-master/css/theme.css" rel="stylesheet" media="all">
    <link href="~/CoolAdmin-master/css/zoom.css" rel="stylesheet" media="all">


</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/Admin/Index">
                            <img src="~/erzurum teknik/Content/etu-logo.png" style="width:150px; height:70px;" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="/Admin/Index">
                                <i class="fas fa-tachometer-alt"></i>ANASAYFA
                            </a>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>FAKÜLTELER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/fakulteler">FAKÜLTE LİSTESİ</a></li>
                                <li><a href="/Admin/fakulteekle">FAKÜLTE EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>BÖLÜMLER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/bolumler">BÖLÜMLER LİSTESİ</a></li>
                                <li><a href="/Admin/bolumekle">BÖLÜM EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>AKADEMİSYENLER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/akademisyenler">AKADEMİSYEN LİSTESİ</a></li>
                                <li><a href="/Admin/akademisyenekle">AKADEMİSYEN EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>ÖĞRENİM BİLGİLERİ
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/ogrenimler">ÖĞRENİM BİLGİLERİ LİSTESİ</a></li>
                                <li><a href="/Admin/ogrenimekle">ÖĞRENİM BİLGİSİ EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>MAKALELER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/makaleler">MAKALE LİSTESİ</a></li>
                                <li><a href="/Admin/makaleekle">MAKALE EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>PROJELER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/projeler">PROJE LİSTESİ</a></li>
                                <li><a href="/Admin/projeekle">PROJE EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>BİLDİRİLER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/bildiriler">BİLDİRİ LİSTESİ</a></li>
                                <li><a href="/Admin/bildiriekle">BİLDİRİ EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>KİTAPLAR
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/kitaplar">KİTAP LİSTESİ</a></li>
                                <li><a href="/Admin/kitapekle">KİTAP EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>DERSLER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/dersler">DERS LİSTESİ</a></li>
                                <li><a href="/Admin/dersekle">DERS EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>ÖDÜLLER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/oduller">ÖDÜLLER LİSTESİ</a></li>
                                <li><a href="/Admin/odulekle">ÖDÜL EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>İDARİ GÖREVLER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/gorevler">İDARİ GÖREVLER LİSTESİ</a></li>
                                <li><a href="/Admin/gorevekle">İDARİ GÖREV EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>HAKEMLİKLER
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/hakemlikler">HAKEMLİKLER LİSTESİ</a></li>
                                <li><a href="/Admin/hakemlikekle">HAKEMLİK EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>SERTİFİKALAR
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li><a href="/Admin/sertifikalar">SERTİFAKALAR LİSTESİ</a></li>
                                <li><a href="/Admin/sertifikaekle">SERTİFİKA EKLE</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo d-flex justify-content-center">
                <a href="/Admin/Index">
                    <img src="~/erzurum teknik/Content/etu-logo.png" style="width:150px; height:90px;" alt="CoolAdmin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="/Admin/Index">
                                <i class="fas fa-tachometer-alt"></i>ANASAYFA
                            </a>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>FAKÜLTELER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/fakulteler">FAKÜLTE LİSTESİ</a></li>
                                <li><a href="/Admin/fakulteekle">FAKÜLTE EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>BÖLÜMLER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/bolumler">BÖLÜMLER LİSTESİ</a></li>
                                <li><a href="/Admin/bolumekle">BÖLÜM EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>AKADEMİSYENLER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/akademisyenler">AKADEMİSYEN LİSTESİ</a></li>
                                <li><a href="/Admin/akademisyenekle">AKADEMİSYEN EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>ÖĞRENİM BİLGİLERİ
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/ogrenimler">ÖĞRENİM BİLGİLERİ LİSTESİ</a></li>
                                <li><a href="/Admin/ogrenimekle">ÖĞRENİM BİLGİSİ EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>MAKALELER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/makaleler">MAKALE LİSTESİ</a></li>
                                <li><a href="/Admin/makaleekle">MAKALE EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>PROJELER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/projeler">PROJE LİSTESİ</a></li>
                                <li><a href="/Admin/projeekle">PROJE EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>BİLDİRİLER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/bildiriler">BİLDİRİ LİSTESİ</a></li>
                                <li><a href="/Admin/bildiriekle">BİLDİRİ EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>KİTAPLAR
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/kitaplar">KİTAP LİSTESİ</a></li>
                                <li><a href="/Admin/kitapekle">KİTAP EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>DERSLER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/dersler">DERS LİSTESİ</a></li>
                                <li><a href="/Admin/dersekle">DERS EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>ÖDÜLLER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/oduller">ÖDÜLLER LİSTESİ</a></li>
                                <li><a href="/Admin/odulekle">ÖDÜL EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>İDARİ GÖREVLER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/gorevler">İDARİ GÖREVLER LİSTESİ</a></li>
                                <li><a href="/Admin/gorevekle">İDARİ GÖREV EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>HAKEMLİKLER
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/hakemlikler">HAKEMLİKLER LİSTESİ</a></li>
                                <li><a href="/Admin/hakemlikekle">HAKEMLİK EKLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>SERTİFİKALAR
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li><a href="/Admin/sertifikalar">SERTİFAKALAR LİSTESİ</a></li>
                                <li><a href="/Admin/sertifikaekle">SERTİFİKA EKLE</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-11"></div>
                            <div class="col-1" style="color:red ">
                                <a href="/Login/LogOut" class="btn btn-danger btn-lg">
                                    <span class="glyphicon glyphicon-log-out"></span> Log out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                        <div class="row">
                            <div class="col-md-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="~/CoolAdmin-master/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/CoolAdmin-master/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/CoolAdmin-master/vendor/slick/slick.min.js"></script>
    <script src="~/CoolAdmin-master/vendor/wow/wow.min.js"></script>
    <script src="~/CoolAdmin-master/vendor/animsition/animsition.min.js"></script>
    <script src="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/CoolAdmin-master/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/CoolAdmin-master/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/CoolAdmin-master/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/CoolAdmin-master/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/CoolAdmin-master/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="~/CoolAdmin-master/js/main.js"></script>

</body>

</html>
<!-- end document-->
